<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ElasticSearch" version="1.4.2" targetFramework="net45" />
  <package id="ElasticSearch.Client" version="0.1.87" targetFramework="net45" />
  <package id="Elasticsearch.Net" version="5.0.0" targetFramework="net45" />
  <package id="NEST" version="5.0.0" targetFramework="net45" />
  <package id="NetStash" version="1.1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net45" />
</packages>